.listeDeCategories {
    padding: 10px;
}

.wrapper {
    display: grid;
    padding: 5px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 75%;
    grid-template-rows: 1fr;
}

.wrapper2 {
    display: grid;
    padding: 5px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9,fr);
}