@import url('./index.css');
@import url('./Header.css');
@import url('./Survey.css');
@import url('./Card.css');

.App {
	text-align: center;
}

.padding {
	padding: 10px;
}

.coloration {
	color: white;
	background-color: #7454ec;
}

.colorationLink {
	color: #7454ec;
}

.gauche {
	text-align: start;
}

.droite {
	text-align: end;
}

#test3 {
	display: block;
	width: 200px;
	height: 200px;
	margin: calc(((204px * 1.4142) - 204px) / 2);
	background: wheat;
	border: 2px solid;
	animation: example 12s linear 0s infinite;
}
#test3:hover {
	animation-play-state: paused;
}
@keyframes example {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
