@import url("./Banner.css"); 
@import url("./ShoppingList.css");
@import url("./index.css");
@import url("./Footer.css");
@import url("./Cart.css");



.App {
  text-align: center;
  padding: 10px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.padding {
  padding : 40px;
}

.gauche {
  text-align: left;
}

.droite {
  text-align: right;
}

.contour {
  padding: 10px;
  border: solid;
  margin: 50px;
  margin-bottom:  10px;  
  background-color: #189056;
  color: black;
  border-radius:5px;
}

.marges {
  margin: 10px
}

.separation{
  display: grid;
  grid-template-columns: 1fr 85%;
  grid-template-rows: 1fr;
}
